/*Importar archivos*/

@import "./_variables";
@import "./_tipografia";
@import (inline) "./_rutas.less"; /*inline no lo compila pero si lo incluye en la salida css */
@import (reference) "./_mixins.less"; /*reference: use un archivo Less pero no lo compula no lo incluye en el archivo less y css */
@import "./_anidamiento.less";

/*Variable importada desde el archivo _variables.less*/

body {
  background: @color1;
  color: @color2;
  font-family: @fuente1;
}

/*Mixin desde archico _mixin.less*/
small {
  .bordes-1();
}
